<h1 class="text-4xl font-semibold text-center p-4"><%= @author.name %></h1>

<div>
  <ul>
    <% @author.manga.each do |manga| %>
      <li class="py-4">
        <%= link_to manga.title, manga, class: "text-xl"%>
      </li>
    <% end %>
  </ul>
</div>
