<footer class="bg-gray-800 text-zinc-300 p-4">
  <div class="container mx-auto">
  <div class="flex justify-around mx-auto">
  <div class="flex flex-col">
  <p class="text-xl font-semibold">Information</p>
   <p class="hover:text-cyan-600 hover:underline"><%= link_to "About Amangas","/pages/about" %></p>
   <p class="hover:text-cyan-600 hover:underline"><%= link_to "Contact Us","/pages/contact" %></p>
   <p>Careers</p>
   <p>FAQs</p>
  </div>
    <div class="flex flex-col">
     <p class="text-xl font-semibold">Policies</p>
   <p>Returns & Exchanges</p>
   <p>Security & Privacy</p>
   <p>Site Terms of Use</p>
   <p>Warranties</p>
  </div>
    <div class="flex flex-col">
     <p class="text-xl font-semibold">Resources</p>
   <p>Useful Links</p>
   <p>New Arrivals</p>
   <p>Preferences</p>
   <p>Other</p>
  </div>
  </div>
    <p class="m-2 my-4 text-sm">&copy; 2023 Amangas. All rights reserved.</p>
  </div>
</footer>